$color-primary: rgb(49, 195, 189);
$color-secondary: rgb(242, 177, 55);
$color-tertiary: rgb(168, 191, 201);

$color-font-primary: rgb(1, 5, 4);
$color-background-primary: rgb(26, 42, 51);
$color-background-secondary: rgb(31, 54, 65);
