@import "../abstracts/variables";

.hud {
  max-width: 60vh;
  &--header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    align-items: center;
    height: 8rem;
    padding: 1rem;
    &__logo {
      height: 100%;
      padding-block: 1rem;
      > img {
        height: 100%;
      }
    }
    &__player-info {
      display: flex;
      flex-direction: row;
      text-transform: uppercase;
      align-items: center;
      justify-content: center;
      background-color: $color-background-secondary;
      color: $color-tertiary;
      font-size: 1.5rem;
      font-weight: 700;
      padding: 0.75rem;
      border-radius: 0.5rem;
      height: 80%;
      width: 100%;
      > img {
        margin-right: 1rem;
      }
    }
    &__reset {
      display: flex;
      height: 80%;
      aspect-ratio: 1/1;
      justify-self: flex-end;
      padding: 1rem;
      border-radius: 1rem;
      background-color: $color-tertiary;
      cursor: pointer;
    }
  }
  &--footer {
    display: grid;
    height: 8rem;
    gap: 2rem;
    padding: 1rem;
    margin-top: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    &--button {
      display: grid;
      place-items: center;
      padding-block: 0.5rem;
      text-transform: uppercase;
      border-radius: 1.25rem;
      cursor: pointer;
    }
  }
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 700;
}
.title {
  font-size: 2rem;
  font-weight: 700;
}
