.modal {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  background-color: white;
  z-index: 1000;
  transition: all 0.2s;
  width: 100%;
  max-height: 30%;
}

.modal--banner {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  &__header {
  }
  &__title {
  }
  &__footer {
  }
}

.button {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.visible {
  opacity: 1;
  pointer-events: all;
}
