@import "../abstracts/variables";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: $color-font-primary;
  background-color: $color-background-primary;
}

#root {
  display: grid;
  min-height: 100vh;
  place-items: center;
}
